*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   display: flex;
   width: 100vw;
   background-color: cadetblue;
}
.container{
   border-radius: 10px;
   width: 400px;
   padding: 20px 0;
   margin: auto;
   height: 100px;
   background-color: white;
   color: black;
   text-align: center;
}