*{
   margin:0px;
   box-sizing: border-box;
}
body{
   width: 100vw;
   height: 100vh;
}
section{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
}

.calculadora{
   position: relative;
   padding: 20px;
   background-color: gold;
   width: 500px;
   height: auto;
   border-radius: 10px;
}
form.calculadora .title{
   text-align: center;
   margin: 20px;
   color: black;
   text-transform: uppercase;
}
form.calculadora .content{
   margin: 40px 0px;
   width: 400px;
   height: 70vh;
}
form.calculadora .content .container-input{
   margin: 20px 0px;
}
form.calculadora .content .container-input input{
   margin: 10px 0px;
   width: 450px;
}
form.calculadora .content p{
   font-size: 1.2em;
}
form.calculadora .checkbox{
   display: flex;
   gap: 10px;
   margin: 20px 0px;
   align-items: center;
}

form.calculadora .content .send input{
   background-color: aqua;
   border: 1px solid black;
   width: 150px;
   padding: 5px;
   cursor: pointer;
}
#container-resultado{
   position: absolute;
   height: 140px;
   margin: 20px 0px;
   background-color: rgb(128, 128, 128);
   padding: 10px;
   width: 450px;
   border-radius: 10px;
   bottom: 10px;
}
