*{
   margin: 0px;
   box-sizing: border-box;
}
body{
   height: 100vh;
   width: 100vw;
   background-color: antiquewhite;
}
section{
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
form#calculadora{
   display: flex;
   flex-direction: column;
   position: relative;
   background-color: gray;
   width: 400px;
   height: 700px;
   border-radius: 20px;
   border: 5px solid black;
}
form#calculadora h1{
   border: 1px solid black;
   text-align: center;
   align-self: center;
   margin: 10px 0px;
   width: 350px;
   background-color: white;
   padding: 5px;
   border-radius: 10px;
}
form#calculadora .container-result{
   padding: 10px;
   align-self: center;
   margin: 20px;
   border-radius: 10px;
   background-color: rgba(127, 255, 212, 0.527);
   width: 350px;
   height: 220px;
   border: 1px solid black;
}
form#calculadora .container-result p{
   font-size: 1.5em;
}

form#calculadora .container{
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   bottom: 70px;
   border-radius: 10px;
   align-self: center;
   width: 350px;
   height: 300px;
   border: 1px solid black;
   background-color: orange;
}
form#calculadora .container .container-input{
   margin: 20px;
}
form#calculadora .container .container-checkbox{
   display: flex;
   margin: 20px;
   align-items: center;
}
form#calculadora .container .container-checkbox h2{
   margin: 0px 10px;
}
form#calculadora .container-input input{
   margin: 10px 0px;
   width: 300px;
}
form#calculadora .container-orcamento{
   
}
form#calculadora  .btn{
   position: absolute;
   bottom: 20px;
   display: flex;
   align-self: center;
   gap: 10px;
}
form#calculadora .btn input{
   cursor: pointer;
   background-color: orange;
   border: 1px solid black;
   border-radius: 5px;
   width: 150px;
   font-size: 1.3em;
   transition: all 300ms ease;
}
form#calculadora .btn input:hover{
   -webkit-transform: scale(0.9);
}
