*{
   margin: 0px;
}
body{
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background: white url(../background.jpg) center fixed;
   background-size: cover;
   backdrop-filter: blur(3px);
}
main{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}
form.calculadora-freelancer{
   position: relative;
   box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.342);
   border: 1px solid black;
   background-color: white;
   width: 500px;
   height: 650px;
   border-radius: 10px;
}
form.calculadora-freelancer .title{
   text-align: center;
   margin: 20px;
}
.container-input{
   display: flex;
   flex-direction: column;
   padding: 20px;
   margin: 10px auto;

}
.container-input input{
   margin: 20px 0px;
   padding: 5px;
}
.container-input .check{
   display: flex;
   align-items: center;
   gap: 5px;
}
.container-input #orcamento{
   display: block;
}
.calculadora-freelancer .btn{
   display: flex;
   justify-content: center;
   gap: 10px;
}
.calculadora-freelancer button{
   background-color: aqua;
   border: 1px solid black;
   padding: 5px;
   width: 150px;
   font-weight: bold;
   color: black;
}
.calculadora-freelancer .result{
   display: flex;
   bottom: 40px;
   flex-direction: column;
   background-color: rgb(216, 216, 216);
   margin: 20px 0px;
   padding: 10px;
}
.calculadora-freelancer .result h1{
   text-align: center;
   color: rgb(0, 140, 255);
}
.calculadora-freelancer .result p{
   font-size: 1.3em;
   font-weight: bold;
}