*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
body{
   background-color: rgb(36, 134, 190);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100vw;
}
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   width: 400px;
   padding: 20px;
   border-radius: 10px;
}