*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   width: 100vw;
   height: 100vh;
   background-color: darkcyan;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.calculadora{
   width: 320px;
   overflow: hidden;
   background-color: white;
}
.calculadora .display{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: flex-end;
   height: 150px;
   padding: 20px;
   background-color: white;
}
.calculadora .display .historic{
   scrollbar-width: thin;
   scrollbar-color: blue orange;
   overflow-y: auto;
   text-align: end;
   font-size: 1em;
}
.calculadora .display .historic::-webkit-scrollbar{
   width: 6px;
}
.calculadora .display .historic::-webkit-scrollbar-track{
   background-color: #B8B8B8;
}
.calculadora .display .historic::-webkit-scrollbar-thumb{
   background-color: orange;
   border-radius: 10px;
}
.calculadora .buttons{
   border-top: 2px solid rgba(44, 44, 44, 0.37);
   display: grid;
   grid-template-columns: repeat(4,80px);
   grid-template-rows: repeat(5,80px);
}
.calculadora .buttons button{
   border: none;
   font-size: 20px;
   cursor: pointer;
   pad: 10px;
}
.calculadora .buttons button:hover{
   background-color: rgba(128, 128, 128, 0.562);
}
.buttons button.operation,
.buttons button.del,
.buttons button.clear{
   color: orangered;
}
.buttons button.igual p{
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   background-color: orangered;
   width: 70px;
   height: 70px;
   border-radius: 100%;
}
